extends layout

block content

    h2 
        span Author: #{author.name}
        span &nbsp;&nbsp;
        button(type="button" class="btn btn-outline-primary btn-sm action" data-route="/catalog/author/" data-action="/update" data-ID=author._id) Edit

    if author.date_of_birth
        span #{author.date_of_birth_formatted}  
        if author.date_of_death 
            span  - #{author.date_of_death_formatted}
    
    div(style='margin-left:20px;margin-top:20px')

        - var qStr = 'authorID=' + author._id
        h4 
            span Books
            span &nbsp;&nbsp;
            button(type="button" class="btn btn-outline-primary btn-sm action" data-route="/catalog/book" data-action="/create" data-qs=qStr) Add A Book

        dl
            each book in author_books
                dt 
                    a(href=book.url) #{book.title} 
                    //-
                        a(href=book.author.url) #{book.author.name} 
                    //-
                        | <a href= "#{book.author.url}"> (#{book.author.name})</a> 
                dd #{book.decodedSummary} 
            else
                dt There are no books written by this author

    script(type="text/javascript" src="/javascripts/authorList.js")