extends layout


block content

    h2 #{title}

    form(method='POST' action='')

        
        if mode=="c" 
            input#_id(type='hidden' name='_id' value='')
        else
            input#_id(type='hidden' name='_id' value=(undefined===author ? '' : author._id))
        input#createDupe(type='hidden' name='createDupe' value=(undefined===createDupe ? '0' : createDupe))
        input#sendDuplicateAlert(type='hidden' name='sendDuplicateAlert' value=(undefined===sendDuplicateAlert ? '0' : createDupe))

        div.form-group
            label(for='first_name') #[strong First Name:] 
            input#first_name(class="form-control" type='text', placeholder='First Name' name='first_name' required='true'  value=(undefined===author ? '' : author.first_name))

    
        div.form-group
            label(for='family_name') #[strong Last Name:] 
            input#family_name(class="form-control" type='text', placeholder='Last Name (surname)'  name='family_name' required='true'  value=(undefined===author ? '' : author.family_name))

        //-
            div.form-group
                label(for='date_of_death') #[strong Date of death:]
                input#date_of_birth(type='text' class="form-control" name='date_of_birth' value=(undefined===author ? '' : author.date_of_birth))


            div.form-group
                label(for='date_of_death') #[strong Date of death:] 
                input#date_of_death(type='text' class="form-control" name='date_of_death' value=(undefined===author ? '' : author.date_of_death))
        
        table(width="100%") 
            tr
                th(width="48%") Date of birth 
                th(width="4%") &nbsp;
                th(width="48%") Date of death 
            tr
                th
                    div.form-group
                        div(class="input-group date"  id="date_of_birth_dp")
                            input#date_of_birth(type='text' class="form-control dp" name='date_of_birth' value=(undefined===author ? '' : author.date_of_birth_short))
                            span(class="input-group-addon  input-group-append")
                                div(class="input-group-text")
                                    i(class="glyphicon glyphicon-calendar fa fa-calendar")

                th
                    span &nbsp;

                th
                    div.form-group
                        div(class="input-group date"  id="date_of_death_dp")
                            input#date_of_death(type='text' class="form-control dp" name='date_of_death' value=(undefined===author ? '' : author.date_of_death_short))
                            span(class="input-group-addon  input-group-append")
                                div(class="input-group-text")
                                    i(class="glyphicon glyphicon-calendar fa fa-calendar")

        //-
            div.form-group
                label(for='date_of_birth') #[strong Date of birth:]
                div(class="input-group date"  id="date_of_birth_dp")
                    input#date_of_birth(type='text' readonly class="form-control dp" name='date_of_birth' value=(undefined===author ? '' : author.date_of_birth))
                    span(class="input-group-addon  input-group-append")
                        div(class="input-group-text")
                            i(class="glyphicon glyphicon-calendar fa fa-calendar")
    
            div.form-group
                label(for='date_of_death') #[strong Date of death:]
                div(class="input-group date"  id="date_of_death_dp")
                    input#date_of_death(type='text' readonly class="form-control dp" name='date_of_death' value=(undefined===author ? '' : author.date_of_death))
                    span(class="input-group-addon  input-group-append")
                        div(class="input-group-text")
                            i(class="glyphicon glyphicon-calendar fa fa-calendar")
 
       


        if sendDuplicateAlert == 0
            button(class="btn btn-primary" type='submit') Submit
        else
            span Author 
                a(href=author.url) #{author.first_name} #{author.family_name} 
                already exists.
            
            - var editButtonLabel = "Edit "  + author.first_name + ' ' + author.family_name
            - var saveButtonLabel = "Save duplicate "  + author.first_name + ' ' + author.family_name
            br
            button(type="button" class="btn btn-outline-primary btn-sm action" data-route="/catalog/author/" data-action="/update" data-ID=author._id) #{editButtonLabel}
            span &nbsp; &nbsp;
            button#saveDuplicate(type="button" class="btn btn-outline-primary btn-sm" ) #{saveButtonLabel}
            
            
            

        

        if errors 
            ul
                for error in errors
                    li!= error.msg


    link(id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet")
    script(src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js") 

    script(type="text/javascript" src="/javascripts/authorFormDatePicker.js")
    script(type="text/javascript" src="/javascripts/authorList.js")