extends layout

block content

    block content

    h2= title

    table(style='width:90%'  class="table table-hover table-sm")
        thead(class="thead-dark")
            tr
                th(width="28%") Genre
                th(width="60%") Title / Author
                th(width="12%") 
                    <a href="/catalog/genre/create"><img style="float: right; padding-right:35px;" src="/images/circlePlusSign.png"></a>

            tbody

                each oneGenre in genre_list
                    tr 
                        td 
                            - let genreURL = "/catalog/genre/" + oneGenre.genre._id
                            a(href=genreURL) #{oneGenre.genre.name}
                         
                        td
                            each oneBook in oneGenre.books
                                div(style="padding-bottom:8px")  
                                    a(href=oneBook.url) #{oneBook.title} 
                                    br
                                    span by 
                                    each val, idx in oneBook.author
                                        a(href=val.url) #{val.first_name} #{val.family_name}
                                            if idx < (oneBook.author.length - 1)
                                                |, 
                                    
                                    //-
                                        a(href=oneBook.author.url) (#{oneBook.author.name})
                            else
                                div There are no books in this genre
                        td
                            button(type="button" class="btn btn-outline-primary btn-sm action" data-ID=oneGenre.genre.name, data-route="/catalog/genre/" data-action="/update" ) Edit Genre
                else
                    tr
                        td There are no genres

    script(type="text/javascript" src="/javascripts/authorList.js")