extends layout

block content

    h2 
      span ID: #{instance._id}
      span &nbsp;&nbsp;
      button(type="button" class="btn btn-outline-primary btn-sm action" data-route="/catalog/bookinstance/" data-action="/update" data-ID=instance._id) Edit
    
    p <span style="font-weight:bold">Title: </span> 
        a(href=instance.book.url) #{instance.book.title}

    p <span style="font-weight:bold">Imprint: </span> #{instance.imprint}

    p <span style="font-weight:bold">Status: </span>
        if instance.status=='Available'
          span.text-success #{instance.status}
        else if instance.status=='Maintenance'
          span.text-danger #{instance.status}
        else
          span.text-warning #{instance.status}
        
    p
        if instance.status!='Available'
          <span style="font-weight:bold">Due back: </span> #{instance.due_back_formatted}

    script(type="text/javascript" src="/javascripts/authorList.js")