extends layout

block content
  h2 
    span Title: #{book.title}
    span &nbsp;&nbsp;
    button(type="button" class="btn btn-outline-primary btn-sm action" data-route="/catalog/book/" data-action="/update" data-ID=book._id) Edit

  
  p #[strong Author:] 
    each val, index in book.author
      a(href=val.url) #{val.first_name} #{val.family_name}
      if index < book.author.length - 1
        |, &nbsp;
  p #[strong Summary:] #{book.decodedSummary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:] 
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |, 
  
  div(style='margin-left:20px;margin-top:20px')
    h4 Copies
    
    each val in book_instances
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='Maintenance'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status} 
      p #[strong Imprint:] #{val.imprint}
      if val.status!='Available'
        p #[strong Due back:] #{val.due_back}
      p #[strong Id:] 
        a(href=val.url) #{val._id}
 
    else
      p There are no copies of this book in the library.

  script(type="text/javascript" src="/javascripts/authorList.js")