extends layout

block content

  h1= title
  
  
  ul
    - instances.sort(function(a, b) {let textA = a.book.title.toUpperCase(); let textB = b.book.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each instance in instances
    
      li
        a(href=instance.url) #{instance.book.title} 
        | by 
        a(href=instance.book.author.url) (#{instance.book.author.name})
        | &nbsp;
        if instance.status=='Available'
          span.text-success #{instance.status}
        else if instance.status=='Maintenance'
          span.text-danger #{instance.status}
        else
          span.text-warning #{instance.status}
        if instance.status!='Available'
          span  (Due: #{instance.due_back_formatted} )
    else
       No books available
       
  <table cellpadding="5" cellspacing="0" border="1">
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>Status</td>
      <td>Due</td>
    </tr>
    
     each instance in instances
       tr
       td <a href= #{instance.url}> #{instance.book.title}</a>
       td <a href= #{instance.book.author.url}> #{instance.book.author.name}</a>
       td
               if instance.status=='Available'
                 span.text-success #{instance.status}
               else if instance.status=='Maintenance'
                 span.text-danger #{instance.status}
               else
                 span.text-warning #{instance.status}
       
       td 
               if instance.status!='Available'
                 span  #{moment(instance.due_back).format('YYYY-MM-DD')}

 
  </table>