extends layout

block content
  //- Original error page
    h1= message
    h2= error.status
    pre #{error.stack}
    br
    br

  h5 Rita error page
  div Message:&nbsp;
    span(style="font-size=12px")= message
  div Status:
    span(style="font-size=12px")= error.status
  div Stack:
    pre #{error.stack}
