extends layout

block content

    h1= title

    h2=genre.name

    dl
        each book in genre_books
            dt 
                a(href=book.url) #{book.title} 
                a(href=book.author.url) #{book.author.name} 
                //-
                    | <a href= "#{book.author.url}"> (#{book.author.name})</a> 
            dd #{book.summary}
        else
            dt There are no books in this genre