extends layout

block content
  table(border="0", width="90%")
    tr
      td
        h2= title
      td(style="text-align:right; padding-right:40px;")
        button(type="button" class="btn btn-outline-primary btn-sm popover-dismiss" title="Search for Genres"  data-container="body" data-toggle="popover"   )
            i( id="searchIcon" class="glyphicon glyphicon-search fa fa-search" )
        |&nbsp;&nbsp;
        if searchString != ""
            button(type="button" class="btn btn-outline-primary btn-sm")
                i( id="clearSearchIcon" class="glyphicon glyphicon-search-minus fa fa-search-minus" data-route="/catalog/genres/" data-col="name" )


    - var upOrDown= arrow
    - var vClass="fa fa-arrow-circle-" + upOrDown
    - var vSortOrder= sortOrder


    table(style='width:90%'  class="table table-hover table-sm")
        thead(class="thead-dark")
            tr
                th(width="30%") Genre 
                    a(href="javascript:void(0)" class="paging" id="paging" data-route="/catalog/genres/" data-col="name" data-sortOrder=vSortOrder)
                        i(class=vClass)

                th(width="25%") Books In Genre Count
                th(width="25%") Available Count
                th(width="20%") 
                    <a href="/catalog/genre/create"><img style="float: right; padding-right:35px;" src="/images/circlePlusSign.png"></a>

            tbody

                each oneGenre in genre_list
                    - let genreURL = "/catalog/genre/" + oneGenre._id
                    tr 
                        td 
                            a(href=genreURL) #{he.decode(oneGenre.name)}
                         
                        td(style="padding-left:50px")
                            a(href=genreURL) #{oneGenre.numberOfCopies}
                        
                        td(style="padding-left:50px")
                            a(href=genreURL) #{oneGenre.numberOfAvailableCopies}

                           
                            //-
                                each oneBook in oneGenre.books
                                    div(style="padding-bottom:8px")  
                                        a(href=oneBook.url) #{oneBook.title} 
                                        br
                                        span by 
                                        each val, idx in oneBook.author
                                            a(href=val.url) #{val.first_name} #{val.family_name}
                                                if idx < (oneBook.author.length - 1)
                                                    |, 
                                        
                                        //-
                                            a(href=oneBook.author.url) (#{oneBook.author.name})
                                else
                                    div There are no books in this genre
                        td
                            button(type="button" class="btn btn-outline-primary btn-sm action" data-ID=oneGenre._id, data-route="/catalog/genre/" data-action="/update" ) Edit Genre
                else
                    tr
                        td There are no genres


    table(border="0", width="90%")
        tr
        td(width="55%")
            div(id="light-pagination" class="pagination")

 
        td(width="30%")
            label(for='selectItemsPerPage') #[strong Items per Page:&nbsp;]
            select(name="selectItemsPerPage" id="selectItemsPerPage")
                each val in [1, 5, 10, 25, 50, 100]
                    - if (val == itemsOnPage)
                        option(value=val selected)= val
                    - else
                         option(value=val)= val 
        td
            span &nbsp;


    div(id="currentPage" style="display: none" data-value=currentPage)
    div(id="itemCount" style="display: none" data-value=itemCount)
    div(id="itemsOnPage" style="display: none" data-value=itemsOnPage)
    div(id="searchString" style="display: none" data-value=searchString)


    script(type="text/javascript" src="/javascripts/authorList.js")
    
    script(type="text/javascript" src="/javascripts/searchPopover.js")

    script(type="text/javascript" src="/javascripts/pagination.js")