extends layout

block content

 
    h2
        span Genre: #{genre.name}
        span &nbsp;&nbsp;
        button(type="button" class="btn btn-outline-primary btn-sm action" data-route="/catalog/genre/" data-action="/update" data-ID=genre._id) Edit

    div(style='margin-left:20px;margin-top:20px')

        - var qStr = 'genreID=' + genre._id
        h4 
            span Books
            span &nbsp;&nbsp;
            button(type="button" class="btn btn-outline-primary btn-sm action" data-route="/catalog/book" data-action="/create" data-qs=qStr) Add A Book


        dl
            each book in genre_books
                dt 
                    a(href=book.url) #{book.title} 
                    //-
                        a(href=book.author.url) #{book.author.name} 
                    span by 
                    each val, idx in book.author
                        a(href=val.url) #{val.first_name} #{val.family_name}
                            if idx != (book.author.length-1)
                                |, 

                    //-
                        | <a href= "#{book.author.url}"> (#{book.author.name})</a> 
                dd #{book.decodedSummary}
            else
                dd 
                    div There are no books in this genre
                    span Click <a style="font-weight:bold" href="/catalog/author/create">here</a> to add an author to this genre

    script(type="text/javascript" src="/javascripts/authorList.js")